PG_HOST=marineai2.cxwk8yige5f2.ap-southeast-5.rds.amazonaws.com
PG_PORT=5432
PG_USER=postgresadmin
PG_PASSWORD=changeme
PG_DATABASE=pnav

CH_HOST=56.69.44.39
CH_PORT=8123
CH_USER=default
CH_PSWD=changeme

CH_LOOKBACK_MINUTES=30
LOOP_SLEEP_SEC=100
IMO_CHECK_DIGIT=1
